$text: rgb(48, 48, 48);
$primary: #ac3bab;
$blue: rgb(3, 201, 255);
*{
    margin: 0;
    padding: 0;
    transition: all 1s cubic-bezier(.075,.82,.165,1);
    transition-property: background,background-color;
}
// Recoleta font
@font-face {
    font-family: Recoleta-Bold;
    src: url('../../public/fonts/Recoleta-Bold.ttf');
}
@font-face {
    font-family: Recoleta-SemiBold;
    src: url('../../public/fonts/Recoleta-SemiBold.ttf');
}
@font-face {
    font-family: Recoleta-Light;
    src: url('../../public/fonts/Recoleta-Light.ttf');
}
@font-face {
    font-family: Recoleta-Medium;
    src: url('../../public/fonts/Recoleta-Medium.ttf');
}
@font-face {
    font-family: Recoleta-Regular;
    src: url('../../public/fonts/Recoleta-Regular.ttf');
}

// Euclid Circula font
@font-face {
    font-family: Euclid-Circular-Bold;
    src: url('../../public/fonts/Euclid-Circular-Bold.ttf');
}
@font-face {
    font-family: Euclid-Circular-SemiBold;
    src: url('../../public/fonts/Euclid-Circular-SemiBold.ttf');
}
@font-face {
    font-family: Euclid-Circular-Light;
    src: url('../../public/fonts/Euclid-Circular-Light.ttf');
}
@font-face {
    font-family: Euclid-Circular-Medium;
    src: url('../../public/fonts/Euclid-Circular-Medium.ttf');
}
@font-face {
    font-family: Euclid-Circular-Regular;
    src: url('../../public/fonts/Euclid-Circular-Regular.ttf');
}

html{
    overflow-x: hidden;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}
body{
    background-color: #000000;
    height: 100%;
}
.container{
    max-width: 75%;
    margin: auto;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
    color: black;
}
body{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    position: relative;
}
.primarybtn{
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    background: $primary;
}
// main css
header{
    padding: 20px 25px;
    // background: transparent;
    background: transparent;
    backdrop-filter: blur(200px);
    .row{
        align-items: center;
        .col-sm-1{
            .logo{
                display: flex;
                align-items: center;
                img{
                    max-width: 30px;
                }
                p{
                    font-weight: 600;
                    color: black;
                    font-size: 20px;
                }
            }
        }
        .col-sm-7{
            .main-menu{
                padding-left: 20px;
                .nav-menu{
                    display: flex;
                    font-family: Euclid-Circular-Regular;
                    font-weight: inherit;
                    list-style-type: none;
                    .nav-item{
                        padding: 0 15px;
                        font-size: 14px;
                        .nav-link{
                            color: black;
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
        .col-sm-4{
            display: flex;
            justify-content: flex-end;
            .last-col{
                display: flex;
                align-items: center;
                .toggle-menu{
                    padding: 7px;
                    position: relative;
                    border: 0px;
                    border-radius: 8px;
                    text-align: center;
                    cursor: pointer;
                    margin: 0px;
                    box-shadow: none;
                    background-color: rgba(108, 115, 147, 0.15);
                    svg{
                        fill: black;
                        width: 30px;
                        height: 30px;
                    }
                    .mobile-menu{
                        position: absolute;
                        left: -90%;
                        top: 140%;
                        min-height: 100px;
                        z-index: 9999;
                        width: 125px;
                        border-radius: 5px;
                        background: rgb(32, 32, 32);
                        &::after{
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid rgb(32, 32, 32);
                            position: absolute;
                            left: 42%;
                            top: -10px;
                        }
                        .mobile-main-menu{
                            text-align: center;
                            padding: 10px;
                            .nav-link{
                                color: black;
                                display: block;
                                padding: 10px;
                                transition: 0.3s ease-in-out;
                                border-radius: 5px;
                                &:hover{
                                    background: rgba(165, 159, 218, 0.2);
                                }
                            }
                        }
                    }
                }
                .notification{
                    padding: 12px;
                    border: 0px;
                    border-radius: 8px;
                    text-align: center;
                    cursor: pointer;
                    margin: 0px;
                    box-shadow: none;
                    background-color: rgba(108, 115, 147, 0.15);
                    svg{
                        color: black;
                    }
                }
                .primarybtn{
                    margin-left: 10px;
                    padding: 12px 16px;
                    border-radius: 8px;
                    font-weight: 500;
                    font-family: "Euclid-Circular-Medium";
                    font-size: 14px;
                    line-height: 21px;
                    white-space: nowrap;
                    text-align: center;
                }
            }
        }
    }
}

.bg-gradient{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -2;
    .main{
        width: 100%;
        height: 100%;
        background:rgba(54, 121, 247, 0.2) ;// linear-gradient(90.31deg, rgba(54, 121, 247, 0.2) -2.65%, rgba(219, 115, 222, 0.2) 98.9%)
    }
}

.main-page{
    background: transparent;
    z-index: 2;
}
.logo-wrapper {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1;
    background-color: #FFF;
    border-radius: 50%;
    padding: 15px;

    @media only screen and (max-width: 992px) {
        width: 16rem;
    }

    @media only screen and (max-width: 576px) {
        width: 12rem;
    }

    .crypto-logo {
        z-index: 1;
        position: relative;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, #FDC800, #FF4137);
        border-radius: 50%;
        box-shadow: -2px 3px 26px 0 #ff4137;

        @media only screen and (max-width: 992px) {
            width: 14rem;
            height: 14rem;
        }

        @media only screen and (max-width: 576px) {
            width: 10rem;
            height: 10rem;
        }

        #ripple,
        #ripple2,
        #ripple3 {
            border-radius: 9999px;
            border: 1px solid rgba(255, 255, 255, .4);
            box-shadow: 0 0 20px rgb(255 255 255 / 40%);
            position: absolute;
            bottom: 50%;
            margin-bottom: -326px;
            right: 50%;
            margin-right: -326px;
            animation: shrink 5s linear infinite;
            z-index: 0;
            background: rgba(255, 255, 255, .4);
        }

        #ripple {
            animation-delay: 1s;
        }

        #ripple2 {
            animation-delay: 1.5s;
        }

        #ripple3 {
            animation-delay: 2s;
        }

        .crypto-logo-img {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 40%;
            animation: pulse2 5s linear infinite
        }
    }
}

.bg-ripple-animation {
    overflow: hidden;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
}

.bg-ripple-animation,
.intro-video-bg-ripples,
.left-bottom-ripples {
    position: absolute;
    left: 0;
}

.left-bottom-ripples {
    margin-bottom: -80vh;
    margin-left: -80vh;
    width: 160vh;
    height: 160vh;
    bottom: 0;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.top-right-ripples {
    margin-top: -80vh;
    margin-right: -80vh;
    width: 160vh;
    height: 160vh;
    position: absolute;
    top: 0;
    right: 0;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.ripples {
    text-align: center;
    width: 100%;
    height: 100%;

    &::before {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: radial-gradient(ellipse at center, rgba(89, 23, 122, 0) 0, rgba(120, 48, 131, .05) 40%, rgba(214, 168, 235, .4) 100%);
        border: 0.5px solid #fff;
        border-radius: 50%;
        opacity: 0;
        transform: scale(1);
        animation-name: k1;
        animation-duration: 6s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    &::after {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: radial-gradient(ellipse at center, rgba(89, 23, 122, 0) 0, rgba(120, 48, 131, .05) 40%, rgba(214, 168, 235, .4) 100%);
        border: 0.5px solid #fff;
        border-radius: 50%;
        opacity: 0;
        animation-name: k1;
        animation-duration: 6s;
        animation-delay: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.banner{
    .container{
        padding-top: 100px;
        .left-banner{
            max-width: 420px;
            .left-top{
                color: black;
                display: flex;
                align-items: center;
                p{
                    font-size: 10px;
                    opacity: 0.5;
                    margin-right: 15px;
                }
                img{
                    max-width: 80px;
                }
            }
            h1{
                font-family: Recoleta-Bold;
                font-size: 56px;
                color: black;
                letter-spacing: -0.00833em;
                font-weight: 500;
                user-select: none;
                line-height: 54px;
            }
            p{
                font-family: "Euclid-Circular-Regular";
                font-size: 18px;
                line-height: 28px;
                color: $text;
                margin: 20px 0;
            }
            .primarybtn{
                display: inline-block;
                margin-top: 25px;
                font-weight: 600;
                padding: 0 40px;
                border-radius: 8px;
                height: 42px;
                line-height: 42px;
                &:hover{
                    box-shadow: rgb(250 250 255 / 8%) 0px 0.66px 0px 0px inset, rgb(250 250 255 / 10%) 0px 0px 8px 0px;
                    color: black;
                }
            }
        }
    }
    .banner-botton{
        padding: 50px 0;
        margin-top: 150px;
        border: 1px solid rgba(255, 255, 255, 0.024);
        background: rgba(255, 255, 255, 0.024);
        .container{
            padding-top: 0;
        }
        .row{
            .col{
                display: flex;
                justify-content: center;
                text-align: center;
                h4{
                    font-family: "Euclid-Circular-Regular";
                    font-size: 24px;
                    line-height: 30px;
                    font-weight: 400;
                    letter-spacing: 0em;
                    text-align: center;
                    color: black;
                }
                p{
                    color: $text;
                    font-size: 14px;
                    line-height: 21px;
                    text-align: center;
                    margin-top: 10px;
                    font-family: "Euclid-Circular-light";
                }
            }
        }
    }
}

.section-two{
    padding: 100px 0;
    .row{
        justify-content: center;
        text-align: center;
        h3{
            color: $primary;
        }
        h2{
            color: black;
            font-family: Recoleta-Bold;
            font-size: 36px;
            margin-top: 25px;
            span{
                background-image: radial-gradient(100% 136.81% at 0% 0%, rgb(56, 60, 139) 0%, rgb(48, 103, 244) 28.12%, rgb(240, 119, 216) 92.2%, rgb(219, 180, 211) 147.66%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }
        }
        p{
            margin-top: 15px;
            color: $text;
            font-size: 17px;
            line-height: 24px;
        }
        .icon-svg{
            margin: 50px 0;
        }
    }
    svg{
        width: 100%;
    }
}

.section-three{
    padding: 0 0 150px 0;
    .row{
        align-items: center;
    }
    .left{
        h4{
            color: $primary;
        }
        h2{
            color: black;
            font-family: 'Recoleta-Bold';
            font-size: 33px;
            margin: 20px 0;
        }
        p{
            font-family: "Euclid-Circular-Regular";
            font-size: 18px;
            line-height: 28px;
            color: $text;
            max-width: 75%;
            margin: 15px 0;
        }
        .primarybtn{
            background: black;
            display: inline-block;
            margin-top: 30px;
            position: relative;
            padding: 12px 16px;
            border-radius: 8px;
            font-weight: 600;
            font-family: "Euclid-Circular-Regular";
            font-size: 14px;
            &::before{
                content: '';
                position: absolute;
                top: -3px;
                width: 100%;
                height: 100%;
                left: -3px;
                z-index: -1;
                padding: 3px;
                background: radial-gradient(100% 136.81% at 0% 0%, rgb(56, 60, 139) 0%, rgb(48, 103, 244) 28.12%, rgb(240, 119, 216) 92.2%, rgb(219, 180, 211) 147.66%);
                border-radius: 8px;
            }
            &:hover{
                background: rgb(17, 17, 34);
            }
        }
    }
    .right{
        .col-sm-6{
            display: flex;
            justify-content: center;
        }
        .content{
            margin: 20px 0;
            h3{
                font-family: 'Recoleta-Regular';
                line-height: 40px;
                font-weight: 400;
                letter-spacing: 0.00735em;
                font-size: 40px;
                color: black;
            }
            p{
                font-family: "Euclid-Circular-light";
                font-size: 14px;
                line-height: 21px;
                white-space: nowrap;
                color: $text;
                margin: 20px 0;
                opacity: 0.7;
            }
        }
    }
}

.rotating_animations {
    img {
        position: absolute;
        top: 0;
    }
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

* {
    transition: all 1s cubic-bezier(.075, .82, .165, 1);
    transition-property: background-color;
}

*,
::after,
::before {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.section-four{
    backdrop-filter: blur(200px);
    padding: 0 0 100px 0;
    .container{
        .row{
            justify-content: center;
            .col-sm-9{
                text-align: center;
                h3{
                    color: $primary;
                }
                h2{
                    color: black;
                    font-size: 36px;
                    margin: 20px 0;
                    font-family: Recoleta-Bold;
                }
            }
        }
        .second-row{
            margin-top: 100px;
            .col-sm-6{
                margin: 25px 0;
                .card{
                    padding: 30px 30px 0 30px;
                    border-radius: 12px;
                    position: relative;
                    cursor: pointer;
                    height: 100%;
                    box-shadow: rgb(68 68 68 / 6%) 0px 4px 24px;
                    background: white; //linear-gradient(98.52deg, rgb(194, 179, 235) 16.01%, rgb(170, 183, 227) 84.96%), rgb(255, 255, 255);
                    .card-top{
                        padding: 10px 0;
                        gap: 4px;
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        .zigzag {
                                clip-path: url(#boltPathRelative);
                                width: 24px;
                                height: 24px;
                                background: linear-gradient(70deg, rgb(40, 237, 191) 10%, rgb(93, 237, 57) 40%, rgb(93, 237, 57) 60%, rgb(40, 237, 191) 90%) 0% 0% / 200%;
                                animation: 1.5s steps(60) 0s infinite reverse none running scrollshine;
                        }
                        h5{
                            color: black;
                            font-size: 17px;
                        }                        
                    }
                    .card-body{
                        margin-top: 20px;
                        h3{
                            color: black;
                            font-size: 30px;
                            font-family: Recoleta-Bold;
                            margin: 20px 0;
                        }
                        p{
                            color: $text;
                            margin: 0px 0px 32px;
                            font-family: "Euclid-Circular-Regular";
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                    .card-bottom{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 35px 0;
                        .left{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            h3{
                                display: inline;
                                font-family: Recoleta-Bold;
                                font-size: 35px;
                                margin-right: 5px;
                                color: $blue;
                                line-height: 40px;
                                letter-spacing: 0.00735em;
                                text-align: right;
                            }
                            span{
                                color: $text;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 16px;
                            }
                        }
                        .right{
                            img{
                                max-width: 35px;
                                margin-right: -10px;
                            }
                            .bnb-svg {
                                width: 35px;
                                height: 35px;
                            }
                        }
                    }
                    .card-goto-explore{
                        margin-bottom: 30px;
                        .explore{
                            color: black;
                            font-weight: 600;
                            &::after{
                                content: '>';
                                color: $blue;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
            .col-sm-6:nth-child(1){
                .card{
                    &:hover{
                        box-shadow: 0 4px 30px rgb(23, 201, 255);
                    }
                }
            }
            .col-sm-6:nth-child(2){
                .card{
                    &:hover{
                        box-shadow: 0 4px 30px rgb(93, 237, 57);
                    }
                }
            }
            .col-sm-6:nth-child(3){
                .card{
                    &:hover{
                        box-shadow: 0 4px 30px rgb(207, 230, 0);
                    }
                }
            }
            .col-sm-6:nth-child(4){
                .card{
                    &:hover{
                        box-shadow: 0 4px 30px rgb(166, 149, 252);
                    }
                }
            }
            .col-sm-6:nth-child(5){
                .card{
                    &:hover{
                        box-shadow: 0 4px 30px rgb(144, 92, 255);
                    }
                }
            }
            .col-sm-6:nth-child(6){
                .card{
                    &:hover{
                        box-shadow: 0 4px 30px rgb(255, 161, 143);
                    }
                }
            }
        }
    }
}

.volts-section {
    backdrop-filter: blur(200px);
    padding: 0 0 100px 0;

    .container {
        .row {
            justify-content: center;

            .col-sm-9 {
                text-align: center;

                h3 {
                    color: $primary;
                }

                h2 {
                    color: black;
                    font-size: 36px;
                    margin: 20px 0;
                    font-family: Recoleta-Bold;
                }
            }
        }

        .second-row {
            margin-top: 100px;

            .col-sm-6 {
                margin: 25px 0;

                .voltcard {
                    padding: 30px 30px 0 30px;
                    border-radius: 12px;
                    position: relative;
                    cursor: pointer;
                    height: 100%;
                    box-shadow: rgb(68 68 68 / 6%) 0px 4px 24px;
                    background: white; //linear-gradient(98.52deg, rgb(194, 179, 235) 16.01%, rgb(170, 183, 227) 84.96%), rgb(255, 255, 255);
                    border-color: #12a7cb;
                    border-width: 0.5px;
                    border-style: outset;

                    .card-top {
                        padding: 10px 0;
                        gap: 4px;
                        display: flex;
                        justify-content: space-between;
                        -webkit-box-align: center;
                        align-items: center;
                        
                        .top-letf {
                            display: flex;

                            .pair-icon-A {
                                width: 30px;
                                height: 30px;
                                margin-right: -18px;
                            }
                            .pair-icon-B {
                                width: 50px;
                                height: 50px;
                                margin-top: 10px;
                            }
                        }

                        .top-right {
                            display: flex;
                            flex-direction: column;

                            .card-title {
                                font-size: 20px;
                                font-weight: 600;                            
                                line-height: 1.1;
                                color: #280d5f;
                                text-align: right;
                                margin-bottom: 3px;
                            }
                            .badges {
                                display: flex;
                                flex-direction: row;
                                gap:2px;

                                .badge-content {
                                    -webkit-box-align: center;
                                    align-items: center;
                                    border-radius: 16px;
                                    display: inline-flex;
                                    font-weight: 400;
                                    white-space: nowrap;
                                    height: 28px;
                                    padding: 0px 8px;
                                    font-size: 14px;
                                    background: white;
                                    background: none;

                                    img {
                                        margin-right: 4px;
                                        width: 18px;
                                        height: 18px;
                                    }
                                }
                                .core-badge .core-badge-content {
                                        color: #7645d9;
                                        border: 2px solid #7645d9;
                                }
                                .boosted-badge  .boosted-badge-content {
                                        color: #31d0aa;
                                        border: 2px solid #31d0aa;
                                }
                                .multiplex-badge .multiplex-badge-content {
                                    color: white;
                                    background-color: #7545d9;
                                }
                                .stable-badge .stable-badge-content {
                                    color: #ed4b9e;
                                    background: white;
                                    border: 2px solid #ed4b9e;
                                }
                            }
                        }
                    }

                    .card-body {
                        margin-top: 20px;

                        .apr, .earn {
                            display: flex;
                            justify-content: space-between;
                            margin: 8px 0;
                        }

                        .apr-left, .earn-left {
                            color: #280d5f;
                            font-weight: 400;
                            line-height: 1.5;
                            font-size: 16px;
                        }

                        .apr-right{
                            color: #31d0aa;
                            font-weight: 600;
                            line-height: 1.5;
                            margin-right: 4px;
                            font-size: 16px;
                        }
                        .earn-right {
                            color: #280d5f;
                            font-weight: 600;
                            line-height: 1.5;
                            font-size: 16px;
                        }
                        .cake-earned{
                            color: #7a6eaa;
                            font-weight: 600;
                            line-height: 1.5;
                            text-transform: uppercase;
                            font-size: 12px;
                            margin: 5px 0;
                        }
                        .claim{
                            margin: 10px 0;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;

                            .claimable-amount {
                                color: rgb(3, 201, 255);
                                font-size: 22px;
                                font-weight: 800;
                                line-height: 1.1;
                            }
                            .zero {
                                color: #bdc2c4;
                            }

                            .claim-btn {
                                position: relative;
                                -webkit-box-align: center;
                                align-items: center;
                                border: 0px;
                                border-radius: 16px;
                                box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
                                cursor: pointer;
                                display: inline-flex;
                                font-family: inherit;
                                font-size: 16px;
                                font-weight: 800;
                                -webkit-box-pack: center;
                                justify-content: center;
                                letter-spacing: 0.03em;
                                line-height: 1;
                                opacity: 1;
                                outline: 0px;
                                transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
                                height: 48px;
                                padding: 0px 24px;
                                background-color: #1fc7d4;
                                color:white;
                                width: 40%;
                                margin-top: 8px;
                            }
                            .disabled {
                                background-color: #e9eaeb !important;
                                border-color: #e9eaeb;
                                box-shadow: none;
                                color: #bdc2c4;
                                cursor: not-allowed;
                            }
                        }
                        .up-to-X {
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 1.1;
                            color:#280d5f;
                        }
                        .textSubtle {
                            color: #7a6eaa;
                            font-weight: 400;
                            line-height: 1.5;
                            font-size: 12px;
                        }
                        .connect-btn {
                            position: relative;
                            -webkit-box-align: center;
                            align-items: center;
                            border: 0px;
                            border-radius: 16px;
                            box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
                            cursor: pointer;
                            display: inline-flex;
                            font-family: inherit;
                            font-size: 16px;
                            font-weight: 800;
                            -webkit-box-pack: center;
                            justify-content: center;
                            letter-spacing: 0.03em;
                            line-height: 1;
                            opacity: 1;
                            outline: 0px;
                            transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
                            height: 48px;
                            padding: 0px 24px;
                            background-color: #1fc7d4;
                            color: white;
                            width: 100%;
                            margin-top: 8px;
                        }
                    }

                    .card-bottom {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 30px 0;
                        border-top: 2px solid #e7e3eb;
                        overflow: hidden;
                        width: 100%;

                    }

                    .card-goto-explore-nochildren {
                        margin-bottom: 20px;
                        color: #1fc7e4;
                        font-weight: 600;
                        line-height: 1.5;
                        font-size: 16px;
                        text-align: center;
                        
                        .caption {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }

                    .card-goto-explore {
                        margin-bottom: 20px;
                        color: #1fc7e4;
                        font-weight: 600;
                        line-height: 1.5;
                        font-size: 16px;
                        text-align: center;

                        div {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            img {
                                width: 18px;
                                height: 18px;
                            }
                        }
                        .linquidity {
                            justify-content: space-between;
                            color:#280d5f;
                        }
                        .caption {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 18px;
                                height: 18px;
                            }
                        }

                    }
                }
            }

            .col-sm-6:nth-child(1) {
                .card {
                    &:hover {
                        box-shadow: 0 4px 30px rgb(23, 201, 255);
                    }
                }
            }

            .col-sm-6:nth-child(2) {
                .card {
                    &:hover {
                        box-shadow: 0 4px 30px rgb(93, 237, 57);
                    }
                }
            }

            .col-sm-6:nth-child(3) {
                .card {
                    &:hover {
                        box-shadow: 0 4px 30px rgb(207, 230, 0);
                    }
                }
            }

            .col-sm-6:nth-child(4) {
                .card {
                    &:hover {
                        box-shadow: 0 4px 30px rgb(166, 149, 252);
                    }
                }
            }

            .col-sm-6:nth-child(5) {
                .card {
                    &:hover {
                        box-shadow: 0 4px 30px rgb(144, 92, 255);
                    }
                }
            }

            .col-sm-6:nth-child(6) {
                .card {
                    &:hover {
                        box-shadow: 0 4px 30px rgb(255, 161, 143);
                    }
                }
            }
        }
    }
}

footer {
    padding: 80px 0 0 0;

    &.footer-light {
        background: #ffffff !important;
        border-top: solid 1px #eeeeee;
        color: #595d69;

        a {
            color: #595d69;
            font-weight: 400;
            text-decoration: none !important;
        }

        #form_subscribe {
            input[type="text"] {
                width: 80%;
                float: left;
                border-radius: 5px 0 0 5px;
                background: rgba(255, 255, 255, .7);
                border: solid 1px #333333;
                border-right-color: rgb(51, 51, 51);
                border-right-style: solid;
                border-right-width: 1px;
                border-right: none;
                padding: 6px 12px;
                box-shadow: 2px 2px 20px 0px rgba(20, 20, 20, 0.05);
            }

            #btn-subscribe i {
                text-align: center;
                font-size: 28px;
                float: left;
                width: 20%;
                background: $text;
                color: #ffffff;
                display: table-cell;
                padding: 5px 0 5px 0;
                border-radius: 0 5px 5px 0;
                -moz-border-radius: 0 5px 5px 0;
                -webkit-border-radius: 0 5px 5px 0;
            }
        }

        .subfooter {
            margin-top: 40px;
            padding: 20px 0 20px 0;
            border-top: solid 1px #eeeeee;

            .bottom-most {
                display: flex;
                justify-content: space-between;

                .de-flex-col {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    img {
                        max-width: 30px;
                    }
                    p{
                        font-weight: 600;
                        color: black;
                        font-size: 20px;
                    }
                }
            }

            span {
                cursor: pointer;

                img {
                    margin-right: 30px;
                }

                &.copy {
                    cursor: default;
                    margin: 0;
                }
            }

            .social-icons {
                display: inline-block;

                span {
                    color: #595d69;

                    i {
                        text-shadow: none;
                        color: white;
                        background: #cb85ca;
                        padding: 12px 10px 8px 10px;
                        width: 34px;
                        height: 34px;
                        text-align: center;
                        font-size: 16px;
                        border-radius: 5px;
                        margin: 0 5px 0 5px;
                        transition: .3s;
                    }

                    &:hover i {
                        color: black;
                        background: white;
                        transition: .3s;
                    }
                }
            }
        }
    }

    .widget {
        margin-bottom: 30px;
        padding-bottom: 30px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 5px 0;
            }
        }

        h5 {
            margin-bottom: 20px;
        }
    }
}

.team {
    backdrop-filter: blur(200px);
    padding: 0 0 100px 0;

    .container {
        .row {
            justify-content: center;
            text-align: center;
            
            h3 {
                color: black;
            }
        
            h2 {
                color: black;
                font-size: 36px;
                margin: 20px 0;
                font-family: Recoleta-Bold;
            }
        }

        .team-card-row {
            margin-top: 15px;
            display: flex;
            flex-direction: row;

            .team-card {
                margin: 20px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 200px;
                border: 1px solid rgb(30,30,30);
                border-radius: 6px;
                background-color: #ffffff;
                box-shadow: rgb(91 91 193 / 10%) 4px 4px 8px 8px;

                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}


@import './responsive.scss'